



body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 3, 37);
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


.welcome_page {
    color: white;
    font-weight: 900;
    font-size: 97px;

    align-self: center;
}

.cool_guy {
    width: 50vw;
    height: 50vh;
    align-self: center;
}


.inputs {
    align-self: center;
    border: none;
    width: 26vw;
    height: 4vh;
    border-radius: 2vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    font-size: 29px;
    margin: 1vw;
    margin-right: 0;
}


.login_container {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.login_button  {
    background-color: aquamarine;
    width: 15vw;
    height: 5vh;
    align-self: center;
    font-size: 32px;
    border-radius: 2vw;

}


